header.header
    .header__inner
        .header__content
            .container
                .header__logo
                    img(src='./../images/logoBlue.svg' alt='logo')
                .header__burger
                    span.header__span

