include ./servicesCard
.services
    h2.services__title What we do to help our client grow in digital era,
    .services__list
        .services__items
            +servicesCard('services_first.png','Make Your business To Be Better Famous In Internet','Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. ','default')
        .services__items
            +servicesCard('services_second.png','Bring Technology To Your Comfrotable Home','Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. ','displace')
            +servicesCard('services_third.png','Build Your Digital Product That Suitable For Your Need','Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. ','default')

