@font-face {
  src: url("../fonts/Galien-Light.ttf") format("truetype");
  font-family: "Galien";
  font-weight: 300;
}

@font-face {
  src: url("../fonts/gilroy-regular.ttf") format("truetype");
  font-family: "Gilroy";
  font-weight: 400;
}

@font-face {
  src: url("../fonts/Galien-Bold.ttf") format("truetype");
  font-family: "Galien";
  font-weight: 700;
}

@font-face {
  src: url("../fonts/gilroy-semibold.ttf") format("truetype");
  font-family: "Gilroy";
  font-weight: 800;
}
